.withoutSort {
    cursor: pointer;
}

.sortUp {
    cursor: pointer;
    background-image: url(../../../assets/Icon/arrow-up.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 25px !important;
}

.sortDown {
    cursor: pointer;
    background-image: url(../../../assets/Icon/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 25px !important;
}