.deckCoverColumn {
    max-width: 150px;
    min-height: 80px;
}

.deckCoverColumn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nameColumn {
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
